.header {
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 0;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.navigationList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}