.breadcrumbs {
  padding: 24px 0;
}

.breadcrumbsList {
  display: flex;
  align-items: center;
}

.breadcrumbsItem {
  position: relative;
  margin-right: 12px;
  padding-right: 24px;
}

.breadcrumbsItem:not(:last-child)::after {
  content: ">";
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumbsLink {
  font-weight: 500;
  color: var(--activeLink);
}